@model DieticianMVC.Application.ViewModels.User.ListUsersForListVm

@{
    ViewData["Title"] = "Lista użytkowników";
}

<section class="window shadow-lg p-3 mb-5 bg-white text-dark rounded list container d-flex flex-column">
    <div class="">
        <h1>@ViewData["Title"]</h1>
    </div>
        <hr />

    <table class="table mt-3 text-" id="table" width="100%">
        <thead class="table-dark p-3 shadow-lg text-light text-opacity-75">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nazwa użytkownika
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="javascript:DeleteUser('@item.Id','@item.UserName')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>

@section Scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "scrollX": true,
                responsive: true,
                "pagingType": "full_numbers",
                "language": {
                    "lengthMenu": "Pokaż _MENU_ użytkowników na stronie",
                    "zeroRecords": "Brak pasujących użytkowników",
                    "info": "Strona _PAGE_ z _PAGES_",
                    "infoEmpty": "Brak użytkowników w bazie",
                    "infoFiltered": "(przeszukano z _MAX_ liczby rekordów)",
                    "search": "Wyszukaj: ",
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },

                },
                "columns": [
                    null,
                    { "orderable": false }
                ]
            });
        });

        function DeleteUser(id, name) {
            if (confirm('Czy na pewno chcesz usunąć użytkownika ' + name + '?')) {
                $.ajax({
                    url: '@Url.Action("DeleteUser", "UserRoles")',
                    type: 'POST',
                    data: { id: id },
                    success: function (result) {
                        location.reload();
                    }
                });
            }
        }
        function SetRoles(id) {
            var $divRoles = $('#Roles');
            $divRoles.empty();
            var url = '@Url.Action("AddRolesToUser","UserRoles")?id=' + id;
            $divRoles.load(url);
            $('#DeleteRoles').show();
        }
    </script>
    }

