@model DieticianMVC.Application.ViewModels.User.ListUsersForListVm
@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Lista użytkowników";
}

<section class="window shadow-lg p-4 bg-white text-dark rounded mt-3 me-4">
    <form asp-action="Index" asp-controller="User" method="post">
        <div class="row">
            <div class="col-md-4 mt-2">
                <h1>@ViewData["Title"]</h2>
            </div>
            <div class="col-md-4 offset-md-4">
                <div class="input-group rounded">
                    <input type="text" asp-for="SearchString" id="searchString" class="form-control" placeholder="Wyszukaj" aria-label="Search" aria-describedby="searchString" />
                    <button id="search-button" type="button" class="btn btn-light">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <hr />

        <table class="table">
            <thead class="table-dark table-stripped table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Nazwa użytkownika</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            <a class="btn btn-background" href=""><i class="bi bi-pen"></i></a>
                            <a class="btn btn-background" onclick="return window.confirm('Czy napewno chcesz usunąć tego użytkownika?" href="/User/DeleteUser?id=@item.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />

        <div class="row">
            <div class="justify-content-end">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link text-dark">
                            Strona @Model.CurrentPage z
                            @if (Model.Count == 0)
                            {
                                <span>1</span>
                            }
                            @if (Model.Count > 0)
                            {
                                <span>@Math.Ceiling(Model.Count / (double)Model.PageSize)</span>
                            }
                        </a>
                    </li>
                    @if(Model.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPage - (@Model.CurrentPage-1))"><i class="bi bi-chevron-bar-left"></i></a>
                        </li>
                    }

                    <li class="page-item">
                        @if(Model.CurrentPage <= 1)
                        {
                            <a class="page-link text-dark"><i class="bi bi-chevron-left" disabled></i></a>
                        }
                        else
                        {
                        <a class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPage-1)"><i class="bi bi-chevron-left"></i></a>
                        }
                    </li>

                    <li class="page-item">
                        @if (Model.CurrentPage >= (Model.Count / (double)Model.PageSize))
                        {
                            <a class="page-link text-dark"><i class="bi bi-chevron-right"></i></a>
                        }
                        else
                        {
                            <a class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPage+1)"><i class="bi bi-chevron-right"></i></a>
                        }
                    </li>

                    @if (Model.CurrentPage < Math.Ceiling(Model.Count / (double)Model.PageSize))
                    {
                        <li class="page-item">
                            <a class="page-link text-dark" href="javascript:PagerClick(@Math.Ceiling(Model.Count / (double)Model.PageSize))"><i class="bi bi-chevron-bar-right"></i></a>
                        </li>
                    }

                    <input type="hidden" name="pageNo" id="pageNo" />
                    <input type="hidden" name="pageSize" id="pageSize" value="10" />
                </ul>
            </div>
        </div>
    </form>

</section>

@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
