@model DieticianMVC.Application.ViewModels.Dietician.ListDieticianForListVm

@{
    ViewData["Title"] = "Index";
}

<section class="list container h-100 d-flex flex-column">
    <h1>Lista dietetyków</h1>
    <hr />
    <table class="table table-bordered table-striped" id="table" width="100%">
        <thead class=" thead-dark">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Imię i Nazwisko
                </th>
                <th>
                    Email
                </th>
                <th>
                    Nazwa
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dieticians)
            {
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Dietician", new { id = item.Id })">
                            <i class="far fa-minus-square"></i>
                            Usuń
                        </a>
                        <a class="btn btn-info btn-sm" href="@Url.Action("ViewDietician", "Dietician", new { id = item.Id })">
                            <i class="fa fa-info"></i>
                            Pokaż
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
